body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar ul {
    margin-top: -0.5em;
}

.sidebar li {
    margin-top: .7em;
    margin-left: -1em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    margin-top: -0.1em;
    color: #7891b3;
    font-size: 1.6em;
}

.well h2 {
    margin-top: -0.1em;
    color: #7891b3;
    font-size: 1.4em;
}

.well h3 {
    margin-top: -0.1em;
    color: #7891b3;
    font-size: 1.2em;
}

.well h4 {
    margin-top: -0.1em;
    color: #7891b3;
    font-size: 1.0em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}
