<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../Licenses/license-${project.license}.txt">

<#if package?? && package != "">
package ${package};

</#if>
import com.sun.btrace.annotations.*;
import static com.sun.btrace.BTraceUtils.*;

/**
 *
 * @author ${user}
 */
@BTrace
public class ${name} {

}
