# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: BTrace CI/CD

on:
  push:
    branches: [ develop, master ]
  pull_request:
    branches: [ develop ]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
      - name: Checkout
        uses: actions/checkout@v4
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build
        run: ./gradlew build
      - name: Upload build data
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build
          retention-days: 1
          path: |
            btrace-dist/build
      - name: Archive test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            **/reports/**/*

  test:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        java: [ 8, 11, 17, 21 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Set up Java ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - name: Download build data
        uses: actions/download-artifact@v4
        with:
          name: build
          path: btrace-dist/build
      - name: Run tests
        run: |
          ./gradlew -Pintegration :integration-tests:test
      - name: Integration test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-reports-${{ matrix.java }}
          path: |
            integration-tests/build/reports/**/*
      - name: Archive binary artifacts
        if: success() && matrix.java == '11'
        uses: actions/upload-artifact@v4
        with:
          name: btrace-dist
          path: |
            btrace-dist/build/distributions/**/btrace-*-bin*.tar.gz

  publish:
    if: github.ref ==  'refs/heads/develop' || github.ref == 'refs/heads/master'
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: temurin
    - name: Download build data
      uses: actions/download-artifact@v4
      with:
        name: build
    - name: Deploy Maven
      run: ./gradlew -x test :btrace-dist:publish
      env:
        GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
        GPG_SIGNING_PWD: ${{ secrets.GPG_SIGNING_PWD }}
        BTRACE_SONATYPE_USER: ${{ secrets.BTRACE_SONATYPE_USER }}
        BTRACE_SONATYPE_PWD: ${{ secrets.BTRACE_SONATYPE_PWD }}

  cleanup:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - name: Cleanup temporary artifacts
        uses: geekyeggo/delete-artifact@v4
        with:
          name: build
