on:
  push:
    tags:
      - 'v*'

name: Create Release

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Branch name
        id: branch_name
        run: |
          echo ::set-output name=SOURCE_NAME::${GITHUB_REF#refs/*/}
          echo ::set-output name=SOURCE_BRANCH::${GITHUB_REF#refs/heads/}
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
      - name: Deploy Maven
        id: deploy_maven
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
          GPG_SIGNING_PWD: ${{ secrets.GPG_SIGNING_PWD }}
          BTRACE_SONATYPE_USER: ${{ secrets.BTRACE_SONATYPE_USER }}
          BTRACE_SONATYPE_PWD: ${{ secrets.BTRACE_SONATYPE_PWD }}
        run: |
          ./gradlew :btrace-dist:publishAllPublicationsToMavenRepository
      - name: Build artifacts
        run: ./gradlew :btrace-dist:build
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: false
          prerelease: true
          generate_release_notes: true
          files: |
            btrace-dist/build/distributions/btrace-${{ steps.branch_name.outputs.SOURCE_TAG }}-bin.tar.gz
            btrace-dist/build/distributions/btrace-${{ steps.branch_name.outputs.SOURCE_TAG }}-bin.zip
            btrace-dist/build/distributions/btrace-${{ steps.branch_name.outputs.SOURCE_TAG }}-sdkman-bin.zip
      - name: Update SDKMan!
        id: update_sdkman
        env:
          SKDMAN_API_KEY: ${{ secrets.SDKMAN_KEY }}
          SDKMAN_API_TOKEN: ${{ secrets.SDKMAN_TOKEN }}
        run: |
          ./gradlew :btrace-dist:sdkMinorRelease
